/* Global Reset */


/* body, h1, h2, h3, p, ul, ol, li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
  align-items: baseline;
} */


.Heading{
  font-size: xx-large;
  font-weight: bold;
  background-color: rgb(72, 163, 243);
  
}
body {
  font-family: Arial, sans-serif;
  background-color: #282727


  ;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-space {
  height: 60px; /* space for navbar */
}

.fixed-header {
  text-align: center;
}

.fixed-header h1 {
  font-size: 32px;
  margin-bottom: 20px;
  /* background-color: rgb(200, 121, 245); */
}


.button-row {
  
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-row button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.button-row button:hover {
  background-color: #0056b3;
}

.form-wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
