# Node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log


# Logs
logs
*.log

# Environment files
.env
.env.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Build output (depends on project)
dist
build

# OS / editor junk
.DS_Store
*.swp